@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Work+Sans:wght@300&display=swap');

#logo {
    height: 33px;
    width: 268px;
    padding: 20px 0 20px 0;
}
#logo:hover{cursor: pointer;}
nav{
    display: flex;
    justify-content: space-between;
    width: 1015px;
    height: 70px;
    margin: 0 252px 0 252px;
    padding: 0 20px 0 20px;
}
.mainMenu{
    display: flex;
    width: 251.65px;
    height: 69.9px;
    padding: 20px 0 20px 0;
    justify-content: space-around;
}

li{
    list-style: none;
}
.subMenu{ 
    display: none;
}
.subMenu{
    display: none;

}
.mainMenuItem{
    font-family: "Roboto", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400px;
    line-height: 30px;
    color: #ABABAB;
}
.mainMenuItem:hover{
    color: #00BFA5;
    cursor: pointer;

}
.title{
    text-align: center;

}
.IMG{
    width: 40px;
    height: 40px;
}
h1{
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 34px;
    font-weight: 300px;
    line-height: 44.2px;
    color: #00B9A4;
}
p{
font-family: Roboto, Arial, sans-serif;
font-size: 16px;
font-weight: 400px;
line-height: 28px;
color: #7474A1;
width: 497.5px;
height: 100px;

}
.p{
display: flex;
justify-content: center;

}